#tblAllPayments .column-header{
    -fx-background-color: #B3E5FC;
    -fx-size: 60px;
    -fx-font-family: "Ubuntu";
    -fx-font-size: 18px;
}

#tblAllPayments .table-row-cell:empty{
    -fx-background-color: white;
}

#tblAllPayments{
    -fx-border-color: rgba(0,0,0,0.2);
    -fx-background-insets: 0px, 0px;
    -fx-padding: 0;
}

#tblAllPayments .cell{
    -fx-cell-size: 60px;
    -fx-wrap-text: true;
}

#tblAllPayments .table-cell:empty{
    -fx-border-color: transparent;
}

.button:hover{
    -fx-text-fill: white;
    -fx-background-color: #03A9F4 !important;
}
